# Название проекта (отображается в Swagger)
PROJECT_NAME="Habit Tracker API"

# Строка подключения к базе данных
# Формат: postgresql+asyncpg://<пользователь>:<пароль>@<хост>:<порт>/<база_данных>
# Для запуска через docker-compose оставьте хост db и внутренний порт 5432
DATABASE_URL=postgresql+asyncpg://your_user:your_secure_password@db:5432/your_database_name
# База данных
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=your_database_name